/* Global values */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Century Gothic', Candara;
  background-image: url('bg.jpg');
}
#main {
  margin: auto;
  margin-top: 100px;
  max-width: 750px;
  border: 10px solid #3BB05A;
  padding: 5px;
  background-color: #000;
}
#photo {
  float: left;
  width: 300px;
  max-width: 100%;
  height: 200px;
  background-image: url('aliyah.jpg');
  clear: both;
  opacity: 0.8;
}
audio {
  margin-top: 5px;
  background-color: #95B9C7;
  float: left;
  border-radius: 5px;
  clear: both;
  opacity: 0.3;
}
#songQ th {
  border-top: 1px gray dotted;
  border-bottom: 1px gray dotted;
  opacity: 0.8;
  color: #fff;
  padding: 1em;
  font-size: 1em;
  font-weight: normal;
  background-color: #05060F;
  width: 450px;
  text-align: left;
}
#songQ {
  margin: 10px;
  width: 400px;
  max-width: 400px;
  display: inline-block;
  height: 220px;
  max-height: 220px;
  overflow-y: scroll;
  overflow-x: none;
  background-color: #030408;
  /*clear: both;*/
  opacity: 0.8;
}
#songQ::-webkit-scrollbar {
    width: 0.8em;
}
 
#songQ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#songQ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.selectBg {
  background-image: url('selectbg.png');
  background-position: 51% 0%;
}
.songEntry {
  display: inline-block;
  width: 100%;
  opacity: 0.8;
  padding: .5em;
  color: #fff;
  font-size: 0.8em;  
  border-bottom: 1px dotted gray;
}
.songEntry:hover {
  cursor: pointer;
  background-color: #0D0F05;
}
#library::-webkit-scrollbar {
    width: 1em;
}
 
#library::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#library::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#libHeader {
  border-top: 1px gray dotted;
  border-bottom: 1px gray dotted;
  color: #fff;
  opacity: 0.8;
  padding: 1em;
  font-size: 1em;
  background-color: #05060F;
  width: 100%;
}
#library {
  max-width: 100%;
  font-size: 0.8em;
  max-height: 200px;
  clear: right; 
  overflow-y: scroll;
  overflow-x: none;
  background-color: #030408;
}
.libSong {
  opacity: 0.8;
  margin: .1em;
  padding: .5em;
  color: white;
  border-bottom: 1px dotted gray;
}
.libSong:hover {
  cursor: pointer;
  background-color: #0D0F05;
}